body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-section img {
  width: 75%;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
